:root {
    --primaryColor: #fff;
    --secondaryColor: #6e44ff;
    /* --secondaryColor: #f40752; */
    /* --secondaryColor: #4c081e; */
    /* --secondaryColor: #121827; */
    --tertiaryColor1: #212529;
    --tertiaryColor2: #002441;
    --tertiaryColor3: #e5e7eb;
    --tertiaryColor4: #F5F5F7;
    --tertiaryColor5: #FDE167;

    /* --btnhover: var(--secondaryColor); */

    --trueColor: #00ffb3;
    --falseColor: #e84855;

    --grpurpleColor: linear-gradient(90deg, #6238D4, #AE96ED);
    --gryellowColor: linear-gradient(90deg, #7A4B00, #EE9800);
    --gryellowColor2: linear-gradient(45deg, #ffb753, #FDE167);
    --grblueColor: linear-gradient(90deg, #091970, #007FFF);

    --textColor0: #fff;
    --textColor1: #212529;
    --textColor2: #6e44ff;
    --textColor3: #00D3FF;
    --textColor4: #928BA6;
    --textColor5: #002441;
}