@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    /* color: var(--textColor1); */
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth;
}


body {
    width: 100%;
    height: auto;
    /* background-image: url(particles-1.gif); */
}

header {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    padding: .8rem 0;
    background: var(--primaryColor);
    z-index: 999;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--secondaryColor);
}

.head-wrapper {
    max-width: 1240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.head-content {
    color: #fff;
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo-box {
    width: 156px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img {
    width: 100%;
}


.pages {
    max-width: 600px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.pages ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.pages ul li {
    font-weight: 500;
}

.pages ul li a {
    padding: 0 .5rem;
    color: var(--textColor1);
}


.register-box a {
    background: var(--secondaryColor);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .4rem;
    font-weight: 500;
}

.menu-icon {
    width: 32px;
    height: 32px;
    background: #7043ff2c;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2rem;
    display: none;
    cursor: pointer;
    z-index: 98;
}

.close-icon {
    width: 32px;
    height: 32px;
    background: linear-gradient(157.46deg, #FFD166 0%, #6E44FF 100%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2rem;
    /* display: none; */
    cursor: pointer;
    z-index: 99;

    position: absolute;
    right: 0;
    top: 1.4rem;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: all .5s ease-in-out;
    padding: 10px 1rem;
    z-index: 99;
}

.sidebar .user-account {
    /* background: #eeeeee; */
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 56px;
    padding: 4px;
}

.user-account .user-img {
    /* background: blue; */
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-account .user-img img {
    width: 100%;
    height: 100%;
}

.user-account .user-name {
    margin: 0 .5rem;
    font-size: 18px;
    font-weight: 600;
    color: var(--textColor1);
}


.action-btn {
    margin-top: 1rem;
    background: #eeeeee;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4px;
    gap: .2rem;
}

.action-btn a {
    width: 50%;
    padding: .3rem 1rem;
    color: var(--textColor1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.action-btn a.login {
    background: #fff;
}

.action-btn a.register {
    color: var(--textColor0);
    background: var(--secondaryColor);
}



.sidebar .links {
    margin: 1rem 0;
    list-style: none;
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 4px;
    border-radius: 8px;
}

.sidebar .links a {
    color: var(--textColor1);
    /* background: #daa4a4; */
    padding: .5rem 1rem;
    border-radius: 8px;
    font-weight: 500;
}

.sidebar .links a:hover {
    background: #eeeeee;
}

.sidebar .links a:active,
.sidebar .links a.active {
    color: var(--textColor0);
    background: var(--secondaryColor);
}






/* ---hero section style designs--- */

.hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--secondaryColor);
    background-image: url('image/course-hero-grid.svg');
    /* background-repeat: no-repeat; */
    background-position: top right;
    background-size: contain;
}

.hero-wrapper {
    width: 100%;
    /* height: 600px; */
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.hero-content {
    max-width: 1240px;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 1rem;
    /* overflow: hidden; */
}

.hero-left {
    height: 100%;
    width: 50%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left h1 {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    color: var(--textColor0);
    margin-bottom: 2rem;
}

.hero-left p {
    color: var(--textColor0);
    line-height: 24px;
    letter-spacing: -0.2px;
}

.review-ratings {
    margin: 2rem 0;
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 8px;
    display: flex;
    /* overflow: hidden; */
    justify-content: space-between;
}

.line {
    width: 2px;
    height: 100%;
    background: var(--primaryColor);
    opacity: .5;
    margin: 0 3rem;
}

.review-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
}

.review-box .counter-img {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.review-box .counter-img p {
    font-size: 2rem;
    font-weight: 800;
}



.ratings-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
}

.ratings-box .counter-star {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.ratings-box .counter-star p {
    font-size: 2rem;
    font-weight: 800;
}

.ratings-box .counter-star img {
    min-width: 60%;
    max-width: 60%;
}

.ratings-box>p,
.review-box>p {
    opacity: .6;
}


.hero-right {
    width: 50%;
    display: flex;
    justify-content: end;
}

.hero-right-content-box {
    width: 400px;
    background: #ffffff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* margin: 0 1rem; */
    border-radius: 1.25rem;
}

.hero-right-content-box img {
    width: 100%;
    border-radius: 1rem;
    border: 8px solid var(--tertiaryColor4);
}

.hero-right-content-box h1 {
    margin: 1rem 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.hero-right-content-box .trial-btn {
    background: var(--gryellowColor2);
    border: none;
    padding: .8rem 1.2rem;
    color: var(--textColor1);
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    border-radius: 10px;
}

.bonus-box span {
    line-height: 20px;
    color: var(--textColor4);

}

.bonus {
    margin-top: 1rem;
    display: flex;
    gap: .4rem;
}

.bonus svg {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bonus svg path {
    fill: var(--tertiaryColor5);
    stroke: var(--tertiaryColor5);
}

.bonus svg path #Vector {
    width: 100%;
    height: 100%;
}

.bonus p {
    color: var(--textColor5);
    font-weight: 500;
}




/* ---gallery section style designs--- */

.gallery-section {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.gallery-wrapper {
    height: 300px;
    max-width: 1240px;
    background: #000;
    display: flex;
    flex: 1;
    color: #fff;
    flex-direction: column;
    overflow: hidden;
}

.gal-img-container {
    width: 200px;
    aspect-ratio: 3/3;
    overflow: hidden;
    background: blue;
    resize: both;
}

.gal-img-container img {
    width: 100%;
    height: 100%;
}



/* ---course section style designs--- */

.course-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.course-heading {
    max-width: 1240px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.course-heading h1 {
    font-size: 2rem;
    color: var(--textColor1);
}

.course-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.course-content {
    max-width: 1240px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem 0;
}

.course-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.course-card {
    width: 300px;
    height: 400px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 20px 2px var(--tertiaryColor3);
    border-radius: 1.25rem;
    border: 1px solid var(--tertiaryColor3);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .6s ease-out;
}

.course-card:hover .img-box img {
    scale: 1.05;
}


.img-box {
    width: 100%;
    /* aspect-ratio: 16/9; */
    height: 176px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-box img {
    height: 100%;
    width: 100%;
    transition: all .6s ease-out;
}

.img-box .language {
    font-size: 14px;
    position: absolute;
    z-index: 1;
    right: 8px;
    bottom: 8px;
    background: var(--secondaryColor);
    padding: .2rem 1rem;
    border-radius: 4px;
    color: var(--textColor0);
    cursor: default;

}

.text-box {
    padding: 1rem;
}

.text-box .title {
    font-size: 1.25rem;
    line-height: 1.6rem;
    font-weight: 700;
    /* color: var(--textColor1); */
    margin-bottom: .5rem;
}

.text-box .desc {
    font-size: 14px;
    opacity: 0.8;
}

.cta {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1px;
    padding: .5rem;
    position: relative;
}

.cta a {
    padding: .5rem;
    width: 50%;
    font-weight: 500;
    text-align: center;
    /* color: var(--textColor2); */
    border-radius: 10px;
}

.cta .explore-btn {
    color: var(--secondaryColor);
}

.cta .enroll-btn {
    color: var(--textColor0);
    background: var(--secondaryColor);
}

.cta .enroll-btn:hover {
    opacity: 0.8;
}




/* ---special course section styles--- */

.spl-course-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.spl-course-wrapper {
    width: 100%;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    /* background: var(--secondaryColor); */
    /* background-image: url('image/course-hero-grid.svg'); */
}

.spl-content {
    max-width: 1240px;
    /* background: green; */
    margin: 3rem 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.spl-content h1 {
    color: var(--textColor1);
    text-align: center;
    text-transform: capitalize;
    margin: 1rem 0;
    font-size: 2rem;
}

.spl-course-card {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.content-card {
    background: #fff;
    width: 300px;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem 0;
    cursor: pointer;
    box-shadow: 0 0 20px 10px var(--tertiaryColor3);
}

.content-card:hover .img-content img {
    scale: 1.2;
    /* filter: drop-shadow(0 0 16px #3a227d); */
}

.content-card .img-content {
    height: 86px;
    background: var(--grpurpleColor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.ML .img-content {
    background: var(--gryellowColor);
}

.ROBO .img-content {
    background: var(--grblueColor);
}

.img-content p {
    font-size: 44px;
    font-weight: 800;
    color: var(--textColor0);
}

.img-content img {
    height: 102%;
    transition: all 1s ease;
    transform-origin: center;
}



.content-card .text-box p {
    font-size: 14px;
    opacity: .9;
}

.spl-course-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}




/* ---testimonial section style designs--- */

.test-mon-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.test-mon-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background: var(--tertiaryColor2); */
    /* background-image: url('image/course-hero-grid.svg'); */
}

.test-mon-content {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 3rem 0;
    overflow: hidden;
}

.test-mon-heading h1 {
    display: flex;
    align-items: center;
    margin: 1rem;
    color: var(--textColor1);
    font-size: 2rem;
}


.test-mon-slider {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.test-mon-slider .slider {
    display: flex;
    animation: move 15s linear alternate infinite;
    justify-content: flex-start;
}

@keyframes move {
    0% {
        transform: translateX(30%);
        /* Start position: move content 100% to the right */
    }

    100% {
        transform: translateX(-30%);
        /* End position: move content 100% to the left */
    }
}

/* Pause animation on hover */
.test-mon-slider:hover .slider {
    animation-play-state: paused;
}


.slide {
    flex: 0 0 100%;
}

.test-mon-card {
    margin: 1rem;
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 1.25rem;
    min-width: 300px;
    height: min-content;
    border: 1px solid var(--secondaryColor);
    backdrop-filter: blur(8px);
    overflow: hidden;
    cursor: default;
    user-select: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}


.test-mon-card .top-img {
    width: 44px;
    height: 44px;
}

.test-mon-card .content {
    display: flex;
    float: inline-start;
    margin: 1rem 0;
    overflow: hidden;
}




.test-mon-card .user-detail {
    display: flex;
    margin: 1rem 0;
}

.user-img-box {
    width: 56px;
    height: 56px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;
    overflow: hidden;
}

.user-img-box img {
    width: 100%;
    height: 100%;
}

.uname-prof .uname {
    font-weight: 700;
}






/* -- Footer Starts -- */

.footer-wrapper {
    background: var(--tertiaryColor4);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.footer-content {
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 1;
    padding: 3rem 0;
    justify-content: space-between;
}


.logo-container {
    display: grid;
    place-items: center;
    height: 124px;
}

.logo-container .logo-box {
    width: 100%;
    height: 100%;
}

.logo-container .logo-box img {
    width: 60%;
}


.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav h1,
.contact h1,
.contact .social-links {
    margin: 1rem 0;
    color: var(--textColor2);
}

.footer-nav .links {
    display: flex;
    flex-direction: column;
}

.footer-nav .links a {
    color: var(--textColor1);
    width: fit-content;
    padding: .2rem;
    font-weight: 500;
}

.footer-nav .links a:hover {
    /* background: #000; */
    color: var(--textColor2);
    font-weight: 500;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--textColor1);
    font-weight: 500;
}

.contact a {}









/* .draggable {
    position: absolute;
    background-color: #ccc;
    width: 44px;
    height: 44px;
    cursor: grab;
    border-radius: 50%;
  } */